[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "*"
flask = "*"
flask-sqlalchemy = "*"
matplotlib = "*"
ipykernel = "*"
flask-wtf = "*"
flask-migrate = "*"
flask-login = "*"
email-validator = "*"
gunicorn = "*"
psycopg2-binary = "*"
openpyxl = "*"

[dev-packages]

[requires]
python_version = "3.9"
