
$primary: #56042C;
$secondary: #6c757d;


.my-col{
    background-color: lightgrey;
    // border: 2px solid red;
    color: black;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
}
.my-col-2{
    background-color: lightseagreen;
    border: 2px solid green;
    color: black;
    text-align: center;
}

// Remove number arrows
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}


@import "../../../node_modules/bootstrap/scss/bootstrap";
