<!-- Calculate points -->
<div class="row g-2 mb-3">
  <div class = "col">
    <div class="card" style="width: 18rem;">
      <div class="card-body">
        <h5 class="card-title">Calculate Points</h5>
        <p class="card-text">Calcula el numero total de puntos para cada usuario, llamando a User.calculate points. </p>
        <a href="{{ url_for('calculate_points') }}" class="btn btn-primary">Calcular</a>
      </div>
    </div>
  </div>

<!-- User Events -->
  <div class = "col">
    <div class="card" style="width: 18rem;">
      <div class="card-body">
        <h5 class="card-title">API</h5>
        <h6 class="card-subtitle text-muted">Eventos</h6>
        <p class="card-text">Obtener informacion de eventos por usuario o por evento. </p>
        <div class="col">
          <a href="{{ url_for('get_user_events') }}" class="btn btn-primary">Por Usuario</a>
          <a href="{{ url_for('event_count') }}" class="btn btn-primary">Por Evento</a>
        </div>
        
      </div>
    </div>
  </div>
</div>
<hr>
<!-- Resultados Oficiales -->
<h2>Resultados Oficiales</h2>
<h4> Partidos</h4>
<div class="row g-2 mb-3">
        {% for game in games %}
            <div class = "col">
                <div class="card" style="width: 18rem;">
                    <div class="card-body">
                        <h5 class="card-title">Game {{game.game_id}}</h5>
                        <p class="card-text">{{(game.local_time - dt.timedelta(hours=11)).strftime("%a, %b %d | %H:%M")}} PST </p>
                        
                        <form action="" method="post" class ="mb-3" validate>
                            <div class="row">
                                <div class="col">
                                    <label for="goals1" class="form-label">{% with team = game.team1, w=24, h=24, align="top", game_id = game.game_id %}{% include "flag.html" %}{% endwith %} {{ game.team1 }}</label>
                                    <input required type="text" class="form-control" name="goals1" id="goals1" aria-describedby="basic-addon1">
                                </div>
                                <div class="col">
                                    <label for="goals2" class="form-label">{% with team = game.team2, w=24, h=24, align="top", game_id = game.game_id %}{% include "flag.html" %}{% endwith %} {{ game.team2 }}</label>
                                    <input required type="text" class="form-control" name="goals2" id="goals2" aria-describedby="basic-addon2">
                                </div>
                            </div> 
                            <button type="submit" class="btn btn-primary mt-3" name= "btn_submit" value = {{game.game_id}}>Marcar</button>
                        </form>

                    </div>
                </div>
            </div>
        {% endfor %}
</div>
<h4> Grupos</h4>
<div class="row g-2 mb-3">
        {% for stage in official_stages %}
            <div class = "col">
                <div class="card" style="width: 18rem;">
                    <div class="card-body">
                        <h5 class="card-title">Stage: {{stage.name}}</h5>
                        <p class="card-text">{{stage.stage_type}} </p>
                        
                        <form action="{{ url_for('save_official_score', filename='images/favicon.png') }}" method="post" class ="mb-3" validate>
                          <input type="hidden" name="tournament" value="Qatar 2022">  
                          <div class="row">
                                <div class="col">
                                    <label for="goals1" class="form-label">
                                      {% if stage.stage_type == 'goleador' %}Goleador{% else %}1ero{% endif %}
                                    </label>
                                    <!-- Winner Dropdown -->
                                    <select class="form-select" id = "winner-{{stage.stage_id}}" name = "winner" aria-label="Default select example">
                                      {% for option in [stage.team1, stage.team2, stage.team3, stage.team4] %}
                                      <option>{{option}}</option>
                                      {% endfor%}
                                    </select>
                                </div>
                              </div>
                            {% if stage.stage_type != 'goleador' %}
                            <div class="row">
                              <div class="col col-12">
                                
                                <label for="goals2" class="form-label">
                                  {% if stage.stage_type == 'goleador' %}Goleador{% else %}2ndo{% endif %}
                                </label>
                                  <!-- Runner-up ner Dropdown -->
                                  <select class="form-select" id = "runnerup-{{stage.stage_id}}" name = "runnerup" aria-label="Default select example">
                                    {% for option in [stage.team1, stage.team2, stage.team3, stage.team4] %}
                                      <option {%if loop.index ==2 %}selected{% endif %}>{{option}}</option>
                                    {% endfor%}
                                  </select>
                                  <input type="hidden" name="form_type" value="stage_winners">

                                </label>
                              </div>
                            </div>
                            {% else %}
                              <div class="row">
                                <div class="col">
                                  <input type="hidden" name="form_type" value="goleador">
                                </div>
                              </div>
                            {% endif %}

                            <div class="row">
                              <div class="col">
                                <button type="submit" class="btn btn-primary mt-3" name= "btn_stage_id" id= "btn_stage_id" value = {{stage.stage_id}}>Guardar</button>
                              </div>
                            </div>

                        </form>

                    </div>
                </div>
            </div>
        {% endfor %}
</div>


