<!-- Calculate points -->
<div class="row mb-3">
    <div class = "col">
      <div class="card" style="width: 18rem;">
        <div class="card-body">
          <h5 class="card-title">Calculate Points</h5>
          <p class="card-text">Calcula el numero total de puntos para cada usuario, llamando a User.calculate points. </p>
          <a href="{{ url_for('calculate_points') }}" class="btn btn-primary">Calcular</a>
        </div>
      </div>
    </div>
    <!--

    <div class = "col">
      <div class="card" style="width: 18rem;">
        <div class="card-body">
          <h5 class="card-title">Calculate Points</h5>
          <p class="card-text">Calcula el numero total de puntos para cada usuario, llamando a User.calculate points. </p>
          <a href="#" class="btn btn-primary">Calcular</a>
        </div>
      </div>
    </div>

    <div class = "col">
      <div class="card" style="width: 18rem;">
        <div class="card-body">
          <h5 class="card-title">Calculate Points</h5>
          <p class="card-text">Calcula el numero total de puntos para cada usuario, llamando a User.calculate points. </p>
          <a href="#" class="btn btn-primary">Calcular</a>
        </div>
      </div>
    </div>

    -->
</div>