<!-- Calculate points -->
<div class="row g-2 mb-3">
    <div class = "col">
      <div class="card" style="width: 18rem;">
        <div class="card-body">
          <h5 class="card-title">Calculate Points</h5>
          <p class="card-text">Calcula el numero total de puntos para cada usuario, llamando a User.calculate points. </p>
          <a href="{{ url_for('calculate_points') }}" class="btn btn-primary">Calcular</a>
        </div>
      </div>
    </div>
</div>
<hr>
<h2>Resultados Oficiales</h2>
<div class="row g-2 mb-3">
        {% for game in games %}
            <div class = "col">
                <div class="card" style="width: 18rem;">
                    <div class="card-body">
                        <h5 class="card-title">Game {{game.game_id}}</h5>
                        <p class="card-text">{{(game.local_time - dt.timedelta(hours=11)).strftime("%a, %b %d | %H:%M")}} PST </p>
                        
                        <form action="" method="post" class ="mb-3" validate>
                            <div class="row">
                                <div class="col">
                                    <label for="goals1" class="form-label">{{flags[game.team1]}} {{game.team1}}</label>
                                    <input type="text" class="form-control" name="goals1" id="goals1" aria-describedby="basic-addon1" placeholder={{game.official_goals1}}>
                                </div>
                                <div class="col">
                                    <label for="goals2" class="form-label">{{flags[game.team2]}} {{game.team2}}</label>
                                    <input type="text" class="form-control" name="goals2" id="goals2" aria-describedby="basic-addon2" placeholder={{game.official_goals2}}>
                                </div>
                            </div> 
                            <button type="submit" class="btn btn-primary mt-3" name= "btn_submit" value = {{game.game_id}}>Marcar</button>
                        </form>

                    </div>
                </div>
            </div>
        {% endfor %}
    
</div>

    <!--
    <div class = "col">
      <div class="card" style="width: 18rem;">
        <div class="card-body">
          <h5 class="card-title">Calculate Points</h5>
          <p class="card-text">Calcula el numero total de puntos para cada usuario, llamando a User.calculate points. </p>
          <a href="#" class="btn btn-primary">Calcular</a>
        </div>
      </div>
    </div>

    -->
