{% extends "base.html" %}

{% block content %}
<div class="container">

  <h1>Hola, {{ current_user.username }}! </h1>
  <p>Abajo puede encontrar sus elecciones (si ya las hizo). <br>
  You can find a summary of all your picks in this page.</p>
  <hr>
  <h2>Confirme datos / Confirm entry</h2>
  <p>Por favor confirme los goles para Marruecos en el partido contra Belgica. <br>
    Please confirm your prediction for Morocco's goals agaisnt Belgium.</p>
  {% include 'morocco_form.html' %}
  <hr>
  <h2>Puntos Extra</h2>
  <p>Resumen de los puntos extra que se pueden obtener.<br>
    Summary of extra points attainable.
  </p>
  {% include 'extras_table.html' %}
  <hr>
  <h2>Juegos / Games</h2>
  <p> Tus predicciones con los resultados reales. Los puntos se actualizaran a medidad que los partidos pasen. <br>
    Your picks alongside the actual scores. Points will update as games take place.
  {% include 'predictions_table.html' %}
  <hr>
  
</div>
{% endblock content %}

