{% extends "base.html" %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="col-auto me-auto">
      <h1>{{ current_user.username }} </h1>
    </div>
    <div class="col-auto">
      {% if ranking == 1 %}<h1><span class="badge bg-warning">Posición/Rank: {{ranking}}</span></h1>
        {% elif ranking == 2 %}<h1><span class="badge bg-secondary">Posición/Rank: {{ranking}}</span></h1>
        {% elif ranking == 3 %}<h1><span class="badge bg-primary">Posición/Rank: {{ranking}}</span></h1>
        {% else %}<h1><span class="badge bg-dark">Posición/Rank: {{ranking}}</span></h1>
        {% endif %}
    </div>

    <div class="col-auto">
      <h1><span class="badge bg-primary">{{current_user.points.first().points}} pts.</span></h1>
    </div>
  </div>
 <hr>
  <div class="row">
    <div class="col">
      
    </div>
  </div>
  <div class="row">
    <div class="col">
      {% include 'extras_table.html' %}
      <hr>
    </div>
  </div>

  <div class="row">
    <div class="col">
      {% include 'predictions_table.html' %}
      <hr>
    </div>
  </div>
  
  
  
  
</div>
{% endblock content %}

