{% extends "base.html" %}

{% block content %}
<div class="container">
    <div class="row mb-3">
        
        <div class="col ">
            <img src="{{ url_for('static', filename='images/vargas_2018.png') }}" class="rounded" alt="Vargas" width="150" height="150" >
        </div>


        
    </div>


    <div class="row">
        <div class="col mb-3">
            <h1 class="display-6">Acceda a su Cuenta / Sign-in</h1>
        </div>
    </div> 

    <div class="row mb-3 justify-content-md-center">
        <div class="col">
            {% include "signin.html" %}
        </div>
    </div>


</div>

    
    
    <!-- <div class="mb-3">Nuevo aca? <a href="{{ url_for('register') }}">Cree su cuenta!</a></div>
    <div class="mb-3">New User? <a href="{{ url_for('register') }}">Click to Register!</a></div> -->
  
{% endblock %}