
<div class="table-responsive">
    <table id="rankings-table"class="table table-sm table-hover" data-page-length='51'>
      <thead>
        <tr>
          <th scope="col" class="text-center">Posicion</th>
          <th scope="col" class="text-center">Usuario</th>
          <th scope="col" class="text-center">Total Puntos = </th>
          <th scope="col" class="text-center">Grupos 1<sup>ero</sup> y 2<sup>ndo</sup></th>
          <th scope="col" class="text-center">+ Grupos</th>
          <th scope="col" class="text-center">+ Octavos</th>
          <th scope="col" class="text-center">+ Cuartos</th>
          <th scope="col" class="text-center">+ Semis</th>
          <th scope="col" class="text-center">+ Finales</th>
          <th scope="col" class="text-center">+ Goleador</th>
        </tr>
      </thead>
      <tbody>
          {% for rank, p in rankings_and_points %}
            {% if rank == 1 %}<tr class="table-warning">
            {% elif rank == 2 %}<tr class="table-secondary">
            {% elif rank == 3 %}<tr class="table-primary">
            {% else %} <tr>
            {% endif %}

              
                  <td class="text-center">{{rank}}</td>
                  <td class="text-center"><a href="{{ url_for('user_profile', user_id = p.user.user_id ) }}" class="link-primary">{{p.user.username}}</a></td>
                  <td class="table-active text-center fw-bold">{{p.points}}</td>
                  <td class="text-center">{{p.stage_points}}</td> 
                  <td class="text-center">{{p.group_points}}</td>
                  <td class="text-center">{{p.rd16_points}}</td>
                  <td class="text-center">{{p.quarters_points}}</td>
                  <td class="text-center">{{p.semis_points}}</td>
                  <td class="text-center">{{p.finals_points}}</td>
                  <td class="text-center">{{p.goleador_points}} ({{p.user.goleador.first().standard_name}})</td>
              </tr>
          {% endfor %}
      
      </tbody>
    </table>
</div>

            
