<div class="col-auto me-auto my-1">
    <h1>{{ user.username }} </h1>
  </div>

  <div class="col-auto">
    {% if ranking == 1 %}<a class="btn btn-lg btn-warning my-1" href="{{ url_for('results') }}" role="button"><b>Posición/Rank: {{ranking}}</b></a>
      {% elif ranking == 2 %}<a class="btn btn-lg btn-secondary my-1" href="{{ url_for('results') }}" role="button"><b>Posición/Rank: {{ranking}}</b></a>
      {% elif ranking == 3 %}<a class="btn btn-lg btn-primary my-1" href="{{ url_for('results') }}" role="button"><b>Posición/Rank: {{ranking}}</b></a>
      {% else %}<a class="btn btn-lg btn-primary my-1" href="{{ url_for('results') }}" role="button"><b>Posición/Rank: {{ranking}}</b></a>
      {% endif %}
  </div>
  
  <div class="col-auto">
    <a class="btn btn-lg btn-primary my-1" href="{{ url_for('results') }}" role="button"><b>{{user.points.first().points}} pts.</b></a>
  </div>